@{
    ViewBag.Title = "员工Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/js/Comm.js"></script>
<script src="~/Content/js/jqgrid/jqgrid.min.js"></script>
<link href="~/Content/js/jqgrid/jqgrid.css" rel="stylesheet" />
<script src="~/Content/js/jqgrid/grid.locale-cn.js"></script>
<style>
    .select2-container {
        box-sizing: border-box;
        display: inline-block;
        margin: 0;
        position: relative;
        vertical-align: middle;
        width: 102% !important;
    }
</style>
<script>
    var type = $.request("type");
    var keyValue = $.request("keyValue");
    $(function () {
        bindSelect();
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/User/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });

    function bindSelect() {
        //性别
        $("#UserSex").bindSelect({
            url: "/SystemManage/User/GetSelect?dataCode=Sex",
        });
        $("#UserType").bindSelect({
            url: "/SystemManage/User/GetSelect?dataCode=UserType",
        });
    }

    //提交新增员工
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var formData = $("#form1").formSerialize();
        $.submitForm({
            url: "/SystemManage/User/SubmitForm",
            param: { userModel: JSON.stringify(formData), type: type },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 25%;">
        <table class="form" style="width:100%;height:100%">
            <tr>
                <th colspan="2" style="text-align:center">初始密码为身份证的后8位</th>
            </tr>
            <tr>
                <th class="formTitle">用户名<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="UserCode" name="UserCode" value="@ViewBag.UserCode" maxlength="6" type="text" class="form-control required" placeholder="用户名" />
                    <input id="UserId" name="UserId" value="@ViewBag.UserId" type="hidden" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">员工姓名<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="UserName" name="UserName" maxlength="200" type="text" class="form-control required" placeholder="员工名称" />
                    <input id="UserPwd" name="UserPwd" type="text" style="display:none" disabled="disabled" class="form-control" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">性别<span class="required1">*</span></th>
                <td class="formValue">
                    <select id="UserSex" name="UserSex" class="form-control required"></select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">手机号码<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="MobilePhone" maxlength="14" name="MobilePhone" type="text" class="form-control required TelYZ" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">身份证号<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="IDNumber" maxlength="18" name="IDNumber" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">人员类型<span class="required1">*</span></th>
                <td class="formValue">
                    <select id="UserType" name="UserType" class="form-control required">
                        <option value="0">内部人员</option>
                        <option value="1">外部人员</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">邮箱<span class="required1">*</span></th>
                <td class="formValue">
                    <input id="Email" maxlength="30" name="Email" type="text" class="form-control required" />
                </td>
            </tr>
        </table>
    </div>
</form>