html,body {
   width:100%;
    height: 100%;
    padding:0;
    margin:0;
    
}
/* body {
    background:linear-gradient(0deg,rgba(249,250,251,1),rgba(167,179,203,1)) no-repeat;
} */
#webgl_out {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 98;
    display: none;
}
#cubeDom {
    opacity: 0.25;
}
.webgl_sign {
    width: 260px;
    height: 200px;
    background:#fff;
    border:1px solid rgba(224,231,236,1);
    border-radius:4px;
    position: fixed;
    top: 20%;
    left: 10%;
    user-select: none;
    display: none;
    z-index: 99;
}
.webgl_sign_title {
    width: 100%;
    height: 37px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(224,231,236,1);
    font-size:14px;
    font-family:FZLanTingHei-L-GBK;
    font-weight:400;
    color:rgba(56,56,56,1);
    cursor:move;
}
#cubeDom:hover {
    opacity: 1.0;
}

.webgl_signClose {
    position: relative;
    width: 12px;
    height: 12px;
    cursor: pointer;
}
.webgl_signClose >:first-child {
    width: 13px;
    height:2px;
    position: absolute;
    top:5px;
    left: 0px;
    background:#ccc;
    transform: rotateZ(45deg)
}
.webgl_signClose >:last-child {
    width: 13px;
    height:2px;
    position: absolute;
    top:5px;
    left: 0px;
    background:#ccc;
    transform: rotateZ(-45deg)
}
.webgl_content {
    width: 100%;
    padding: 10px 18px 0;
    box-sizing: border-box;

}
.webgl_row {
    margin-top:10px;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    font-size:13px;
    font-family:FZLanTingHei-L-GBK;
    font-weight:400;
    color:rgba(56,56,56,1);
}
.webgl_label {
    line-height: 24px;
    max-width: 55px;
}
.webgl_func {
    width: 160px;
    height: 24px;
    background:rgba(224,231,236,1);
    border-radius:2px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
.webgl_switch {
    width: 40px;
    height: 18px;
    background: #1890ff;
    position: relative;
    display: flex;
    cursor: pointer;
}
.webgl_slider {
    width: 18px;
    height: 16px;
    position: absolute;
    top:1px;
    right: 1px;
    background:#fff;
}
.webgl_status {
    width: 20px;
    height: 18px;
    color:#fff;
    text-align: center;
    line-height: 18px;
} 
.webgl_count {
    width: 110px;
    height:2px;
    background:rgba(179,179,179,1);
    border-radius:1px;
    position: relative;
}
.webgl_drag {
    width:6px;
    height:10px;
    background:rgba(0,151,137,1);
    position: absolute;
    top:-4px;
    left:24.5px;
    cursor: pointer;

}
.webgl_blockCount {
    font-size:12px;
    font-family:FZLanTingHei-L-GBK;
    font-weight:400;
    color:rgba(56,56,56,1);
    margin-left: 10px;
}
#webgl_input,#webgl_inputWord,#webgl_inputBackground,#webgl_inputSetBackground,#webgl_inputSetLightBackground,#webgl_inputSetBackground1,#webgl_inputSetLightBackgroundFace {
    display: none;
}


.webgl_color {
    display: inline-block;
    width:100%;
    height:18px;
    border-radius:2px;
    border:1px solid #000000;
    box-sizing: border-box;
}

#webgl_color {
    background: #ED1C24;
}
#webgl_colorWord{
    background: #ED1C24;
}
#webgl_setBackground{
    background: #123456;
}
#webgl_setBackground1{
    background: #eee;
}
#webgl_setLightBackground{
    background: #009789;
}
.webgl_span {
   display: inline-flex;
   width: 140px;
   height: 24px;
   /* line-height: 24px; */
   font-size:12px;
    font-family:FZLanTingHei-L-GBK;
    font-weight:400;
    color:rgba(56,56,56,1);
    /* padding-top:3px; */
    box-sizing: border-box;
    align-items: center;
    
}

.webgl_footer {
    width: 100%;
    padding: 0 18px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}
.webgl_cancel, .webgl_ok {
    width: 60px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    border:1px solid rgba(224,231,236,1);
    border-radius:4px;
    font-size:14px;
    font-family:FZLanTingHei-L-GBK;
    font-weight:400;
    color:rgba(26,26,26,1);
    cursor: pointer;
}
.webgl_ok {
    border:none;
    background:rgba(0,151,137,1);
    color:#fff;
    margin-left: 10px;

}


/* 文字标注模块 */
.webgl_word {
    width: 260px;
    height: 430px;
    position: fixed;
    top: 20%;
    left: 10%;
    background:rgba(255,255,255,1);
    border:1px solid rgba(224,231,236,1);
    border-radius:4px;
    user-select: none;
    display: none;
    z-index: 99;
}
.webgl_edit {
    width: 100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;
    color:rgba(56,56,56,1);
    font-family:FZLanTingHei-L-GBK;
}
.webgl_area {
    font-size: 13px;
}
.webgl_tt {
    width: 160px;
    height: 80px;
    padding: 5px;
    box-sizing: border-box;
    border:1px solid rgba(224,231,236,1);
    border-radius:2px;
    font-size:12px;
    font-family:FZLanTingHei-L-GBK;
    overflow: hidden;

}
/* 设置 */
.webgl_set {
    width: 260px;
    height: 290px;
    /* height: 330px;  */
    background:#fff;
    border:1px solid rgba(224,231,236,1);
    border-radius:4px;
    position: fixed;
    top: 20%;
    left: 10%;
    user-select: none;
    display: none;
    z-index: 99;
}