@{
    ViewBag.Title = "BZJForm";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    var type = $.request("type");
    var ProCode = $.request("ProCode");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "@Url.Action("GetBZJFormJson", "Standardization")",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data.Item1[0]);
                }
            });
        }
    });

    function initControl() {
        $("#MeteringUnit").bindSelect({
            url: "@Url.Action("GetDicByCode", "DataDictionary", new { area = "SystemManage", dicCode = "Unit" })",
            id: "DictionaryCode",
            text: "DictionaryText"
        });
        if (type == "add") {
            $("#ProCode").val(ProCode);
        }
    }

    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "@Url.Action("SubmitBZJForm", "Standardization")" + "?type=" + type,
            param: $("#form1").formSerialize(),
            success: function () {
                top.$("#loadingPage").hide();
                $.currentWindow().Refresh("BZJ");
            }
        })
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 25%;">
        <input id="ID" name="ID" type="hidden" />
        <input id="ProCode" name="ProCode" type="hidden" />
        <div style="padding-top: 20px;">
            <table class="form">
                <tr>
                    <th class="formTitle">构件编号<span class="required1">*</span></th>
                    <td class="formValue" colspan="2">
                        <input id="ComponentCode" name="ComponentCode" type="text" class="form-control required" value="" placeholder="请输入构件编号" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">构件名称<span class="required1">*</span></th>
                    <td class="formValue" colspan="2">
                        <input id="ComponentName" name="ComponentName" type="text" class="form-control required" value="" placeholder="请输入构件名称" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">构件类型<span class="required1">*</span></th>
                    <td class="formValue" colspan="2">
                        <input id="ComponentType" name="ComponentType" type="text" class="form-control required" value="" placeholder="请输入构件类型" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">规格型号(尺寸)<span class="required1">*</span></th>
                    <td class="formValue" colspan="2">
                        <input id="SpecificationModel" name="SpecificationModel" type="text" class="form-control required" value="" placeholder="请输入规格型号(尺寸)" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">计量单位<span class="required1">*</span></th>
                    <td class="formValue" colspan="2">
                        <select id="MeteringUnit" name="MeteringUnit" class="form-control">
                            <option value=""></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">备注</th>
                    <td class="formValue" colspan="2">
                        <textarea id="Remark" name="Remark" class="form-control" style="height: 60px;" placeholder="备注"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
