@{
    ViewBag.Title = "BZJIndex";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<style>
    .hidSearchContent {
        display: none !important;
    }
</style>
<script>
    var ProCode = "";
    $(function () {
        gridRightList();
        gridLeftList();
    });
    function gridLeftList() {
        var $gridList = $("#gridLeftList");
        $gridList.dataGrid({
            url: "@Url.Action("GetGridJson", "Standardization")",
            height: $(window).height() - 218,
            colModel: [
                { label: "项目编号 ", name: "ProCode", key: true, width: 240, align: 'left', sortable: false },
                { label: '项目名称', name: 'ProName', width: 260, align: 'left', sortable: false },
                { label: "主键", name: "ID", hidden: true },
                { label: "父级项目", name: "ParentProCode", hidden: true },
            ],
            treeGrid: true,//启用树型Grid功能
            treeGridModel: 'adjacency',//表示返回数据的读取类型，分为两种：和adjacency
            ExpandColumn: 'ProCode',//树型结构在哪列显示
            rownumbers: false,
            onCellSelect: function (id) {//单击
                clickPro(id);
            },
            gridComplete: function () {
                var ids = $("#gridLeftList").getDataIDs();
                $gridList.setSelection(ids[0], true);
                ProCode = ids[0];
                clickPro(ProCode);
            },
        });
    }
    //点击左边工点分部分项树
    function clickPro(id) {
        var pro = $("#gridLeftList").jqGrid('getRowData', id);
        $("#gridRightList").jqGrid('setGridParam', {
            postData: { ProCode: id }
        }).trigger('reloadGrid');
    }
    function gridRightList() {
        var $gridList = $("#gridRightList");
        $gridList.dataGrid({
            url: "@Url.Action("GetBZJGridJson", "Standardization")",
            height: $(window).height() - 218,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: "项目名称", name: "ProName", width: 150, align: 'left', sortable: false },
                { label: "构件名称", name: "ComponentName", width: 150, align: 'left', sortable: false },
                { label: "构件类型", name: "ComponentType", width: 150, align: 'left', sortable: false },
                { label: "计量单位", name: "MeteringUnitText", width: 150, align: 'left', sortable: false },
                { label: "备注", name: "Remark", width: 150, align: 'left', sortable: false }
            ],
            sortname: 'ID',
            sortorder: 'asc',
            viewrecords: true,
            shrinkToFit: false,
            rownumbers: false,
        });
    }

    //添加同级
    function btn_add() {
        var Data = $("#gridLeftList").jqGridRowValue();
        if (Data.ID) {
            var where = "?type=add&ProCode=" + Data.ProCode;
            CommonOpen("Form", "添加标准化构件信息", "@Url.Action("BZJForm", "Standardization")" + where, true, true)
        } else {
            $.modalMsg("请选择左边工点分部分项树中的项目信息", "warning");
            return false;
        }
    }


    function btn_edit() {
        var keyValue = $("#gridRightList").jqGridRowValue().ID;
        if (keyValue) {
            $.modalOpen({
                id: "Form",
                title: "修改",
                url: "/SystemManage/Standardization/BZJForm?keyValue=" + keyValue + "&type=edit",
                width: "50%",
                height: "450px",
                callBack: function (iframeId) {
                    top.frames[iframeId].submitForm();
                }
            });
        } else {
            $.modalMsg("请选择要修改信息", "warning");
            return false;
        }
    }
    function btn_delete() {
    var keyValue = $("#gridList").jqGridRowValue().ID;
        if (keyValue) {
            $.deleteForm({
                url: "/SystemManage/Standardization/BZJDeleteForm",
                param: { keyValue: keyValue },
                success: function () {
                    $.currentWindow().$("#gridList").resetSelection();
                    $.currentWindow().$("#gridList").trigger("reloadGrid");
                }
            });
        } else {
            $.modalMsg("请选择要删除的标准化构件信息", "warning");
            return false;
        }
    }

    function CommonOpen(id, title, url, isbtn, isBack) {
        $.modalOpen({
            id: id,
            title: title,
            url: url,
            width: "50%",
            height: "450px",
            btn: isbtn ? ['确认', '关闭'] : null,
            callBack: isBack ? function (iframeId) {
                top.frames[iframeId].submitForm();
            } : null
        });
    }

    //导出excel
    function btn_output() {
        var param = $(".search").GetSearchCondition();
        var url = "@Url.Action("OutputExcel", "CarInfo")";
        location.href = url + "?jsonData=" + escape(JSON.stringify(param));
    }
</script>

<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group input-group-search">
                        <select id="SearchType" name="SearchType" class="form-control SearchType" style="width: 120px;">
                            <option value="">全部</option>
                            <option value="ProName">项目名称</option>
                            <option value="ComponentName">构件名称</option>
                            <option value="ComponentType">构件类型</option>
                        </select>
                        <input id="ProName" name="ProName" type="text" placeholder="项目名称" class="form-control SearchContent hidSearchContent">
                        <input id="ComponentName" name="ComponentName" type="text" placeholder="构件名称" class="form-control SearchContent hidSearchContent">
                        <input id="ComponentType" name="ComponentType" type="text" placeholder="构件类型" class="form-control SearchContent hidSearchContent">
                    </div>
                </td>
                <td>
                    <div class="btn-search">
                        <a class="btn btn-primary btn_searchOne" id="btn_searchOne">查询</a>
                        <a class="btn btn-primary btn_search" id="btn_search">结果中搜索</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="topPanel-btn" id="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span>刷新</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_add();"><i class="fa fa-plus"></i>新增</a>
        </div>

        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_edit();"><i class="fa fa-pencil-square-o"></i>修改</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_delete();"><i class="fa fa-trash-o"></i>删除</a>
        </div>

        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_output();"><i class="fa fa-mail-reply"></i>导出</a>
        </div>

        <div class="btn-group">
            <a class="btn btn-primary" onclick="btn_output();"><span class="fa fa-mail-reply"></span>导入</a>
        </div>
    </div>
</div>
<div class="panel panel-default" style="width:49%;float:left">
    <div class="panel-heading" style="height:32px;">
        <label style="font-size: 18px; float:left">工点分部分项树</label>
    </div>
    <div class="panel-body">
        <div class="gridPanel">
            <table id="gridLeftList"></table>
        </div>
    </div>
</div>
<div class="panel panel-default gridPanel" style="width:49%;float:right">
    <div class="panel-heading" style="height:32px;">
        <label style="font-size: 18px; float:left">标准构件信息表</label>
    </div>
    <div class="panel-body">
        <div class="gridPanel">
            <table id="gridRightList" class="gridList"></table>
        </div>
    </div>
</div>


