@{
    ViewBag.Title = "订单报警详情";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script>
    $(function () {
        gridList_Approval();
        gridList_Complete();
    });
    function gridList_Approval() {
        var $gridList = $("#gridList_Approval");
        $gridList.dataGrid({
            url: "@Url.Action("GetApprovalGridJson", "BIM")",
            height: $(window).height() * 0.5,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: '站点', name: 'SiteName', hidden: true },
                { label: "订单号", name: "TakNum", width: 120, align: 'left', sortable: false },
                { label: '审批节点', name: 'TakDay', width: 100, align: 'left', sortable: false, formatter: formatDatebox },
                { label: "审批人员", name: "WarehouseTypeName", width: 80, align: 'left', sortable: false },
            ],
            ondblClickRow: function (id) {//双击

            },
            pager: "#gridPager_Approval",
            viewrecords: true,
            shrinkToFit: false,
        });
    }

    function gridList_Complete() {
        var $gridList = $("#gridList_Complete");
        $gridList.dataGrid({
            url: "@Url.Action("GetCompleteGridJson", "BIM")",
            height: $(window).height() * 0.5,
            colModel: [
                { label: "主键", name: "ID", hidden: true, key: true },
                { label: '站点', name: 'SiteName', width: 120, align: 'left', sortable: false },
                { label: "订单号", name: "TakNum", width: 120, align: 'left', sortable: false },
                { label: '要求完成时间', name: 'TakDay', width: 100, align: 'left', sortable: false, formatter: formatDatebox },
                { label: "超期天数", name: "WarehouseTypeName", width: 80, align: 'left', sortable: false },
            ],
            ondblClickRow: function (id) {//双击

            },
            pager: "#gridPager_Complete",
            viewrecords: true,
            shrinkToFit: false,
        });
    }

    function EarnOrLosColor(cellValue, options, rowObject) {
        if (parseInt(rowObject.EarnOrLos) == -1) {
            return "<span style='color: red;'>" + cellValue + "</span>";
        } else {
            return "<span style='color: green;'>" + cellValue + "</span>";
        }
    }
    function selectTab(v) {
        var id = v.attr('id');
        if (id) {
            $("#" + id + "").addClass("active").siblings().removeClass("active");
            $("#" + id + "Info'").show();
            $("#" + id + "Info'").siblings('div').hide();
        }
    }
</script>

<div class="ui-layout-center">
    <ul class="nav nav-tabs">
        <li id="Approval_tab_" onclick="selectTab($(this))" class="active"><a href="javascript:void(0);">订单审批超时</a></li>
        <li id="Complete_tab_" onclick="selectTab($(this))"><a href="javascript:void(0);">订单完成超期</a></li>
    </ul>
    <div id="Approval_tab_Info">
        <div class="gridPanel">
            <table id="gridList_Approval" class="gridList"></table>
            <div id="gridPager_Approval"></div>
        </div>
    </div>
    <div id="Complete_tab_Info" style="display:none">
        <div class="gridPanel">
            <table id="gridList_Complete" class="gridList"></table>
            <div id="gridPager_Complete"></div>
        </div>
    </div>
</div>
